In [2]:
s=int(input("enter starting year: "))
e=int(input("enter ending year: "))
print("leap years between",s,"and",e)
while (s<=e):
    if ((s%400==0) or ((s%4==0) and (s%100!=0))):
      print(s)
    s=s+1

enter starting year: 1997
enter ending year: 2020
leap years between 1997 and 2020
2000
2004
2008
2012
2016
2020

In [10]:
x=[]
n=int(input("enter list items : "))
for i in range(1,n+1):
    a=int(input("enter the value of %d item : "%i))
    x.append(a)
y=[num for num in x if num >= 0]
print("initial list of integers is :",x) 
print("modified list of positive numbers is :",y)

enter list items : 2
enter the value of 1 item : -8
enter the value of 2 item : 5
initial list of integers is : [-8, 5]
modified list of positive numbers is : [5]

In [12]:
x=[]
n=int(input("enter list items : "))
for i in range(1,n+1):
    a=int(input("enter the value of %d item : "%i))
    x.append(a)
b=(num**2 for num in x)
print("initial list of N numbers :",x)
y=list(b)
print("square list of N numbers :",y)

enter list items : 3
enter the value of 1 item : 2
enter the value of 2 item : 3
enter the value of 3 item : 4
initial list of N numbers : [2, 3, 4]
square list of N numbers : [4, 9, 16]

4

In [13]:
w=input("enter any word : ")
v=[l for l in w if l in 'aeiou' ]
print("list of vowels in",w," :",v)

enter any word : johns
list of vowels in johns  : ['o']

In [14]:
w=input("enter any word : ")
for l in range(len(w)) :
  print("ASCII value is",w[l],"is",ord(w[l]))

enter any word : arsenal
ASCII value is a is 97
ASCII value is r is 114
ASCII value is s is 115
ASCII value is e is 101
ASCII value is n is 110
ASCII value is a is 97
ASCII value is l is 108

In [16]:
def word_count(str):
    counts = dict()
    words = str.split()
    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1
    return counts
str=input("enter any text :")
print(word_count(str))

enter any text :python
{'python': 1}

In [17]:
x=[]
n=int(input("enter any integers :"))
for i in range(1,n+1):
  a=int(input())
  if (a>100):
    x.append('over')
  else:
    x.append(a)
print("modified list :" ,x)

enter any integers :5
6
7
8
9
4
modified list : [6, 7, 8, 9, 4]

In [18]:

def change(str):
      return str[-1:] + str[1:-1] + str[:1]
str=input("enter any string : ")
print("modified string : ",change(str))

enter any string : superman
modified string :  nupermas

In [19]:
r=int(input("enter the radius of the circle :"))
print("area of the circle is :",3.14*r*r)

enter the radius of the circle :14
area of the circle is : 615.44

In [20]:
a = float(input("enter the first value : "))
b = float(input("enter the second value : "))
c = float(input("enter the third value : "))
if (a > b and a > c):
  print(a,"is bigger than both",b,"and",c)
elif (b > a and b > c):
  print(b,"is bigger than both",a,"and",c)
elif (c > a and c > b):
  print(c,"is bigger than both",a,"and",b)
else:
  print("either any two values or all the three values are equal")

enter the first value : 14
enter the second value : 12
enter the third value : 10
14.0 is bigger than both 12.0 and 10.0

In [21]:
f=input("enter any filename : ")
x=f.split(".")
print("extension of file is",x[-1])

enter any filename : johns
extension of file is johns

In [22]:
k1=input("enter first key : ")
k2=input("enter second key : ")
v1=input("enter first value : ")
v2=input("enter second value : ")
dict1={}
dict2={}
dict1[k1]=v1
dict2[k2]=v2
def merge_dictionaries(x,y):
  z = {**x,**y}
  print("merged dictionary is : ")
  return z
print(merge_dictionaries(dict1,dict2))

enter first key : 4
enter second key : 2
enter first value : 8
enter second value : 6
merged dictionary is :
{'4': '8', '2': '6'}