In [1]:
n1=float(input("enter the first value : "))
n2=float(input("enter the second value : "))
x=n1
y=n2
while (n2 != 0):
  temp=n2
  n2=n1%n2
  n1=temp
gcd=n1   
print("GCD of",x,"and",y,"is",gcd)

enter the first value : 5
enter the second value : 3
GCD of 5.0 and 3.0 is 1.0

In [2]:
x=[]
n=int(input("enter list items : "))
for i in range(1,n+1):
    a=int(input("enter the value of %d item : "%i))
    x.append(a)
for i  in x:
  if (i%2 == 0):
    x.remove(i)
print("modified list after removing even numbers :")
print(x)

enter list items : 2
enter the value of 1 item : 14
enter the value of 2 item : 10
modified list after removing even numbers :
[10]

In [3]:
k1=input("enter first key : ")
k2=input("enter second key : ")
k3=input("enter third key : ")
k4=input("enter fourth key : ")
k5=input("enter fifth key : ")
v1=input("enter first value : ")
v2=input("enter second value : ")
v3=input("enter third value : ")
v4=input("enter fourth value : ")
v5=input("enter fifth value : ")
d={}
d[k1]=v1
d[k2]=v2
d[k3]=v3
d[k4]=v4
d[k5]=v5
l=list(d.items())   
l.sort() 
print("ascending order is : ",l)
l=list(d.items())
l.sort(reverse = True)
print("descending order is : ",l)

enter first key : 1
enter second key : 3
enter third key : 4
enter fourth key : 5
enter fifth key : 2
enter first value : man
enter second value : women
enter third value : boy
enter fourth value : girl
enter fifth value : child
ascending order is :  [('1', 'man'), ('2', 'child'), ('3', 'women'), ('4', 'boy'), ('5', 'girl')]
descending order is :  [('5', 'girl'), ('4', 'boy'), ('3', 'women'), ('2', 'child'), ('1', 'man')]

In [4]:

x=input("enter the first string : ")
y=input("enter the second string : ")
def swapch(x,y): 
  a = y[:1] + x[1:]
  b = x[:1] + y[1:]
  return a + ' ' + b
print(swapch(x,y))

enter the first string : london
enter the second string : manchester
mondon lanchester

In [5]:
c1=[]
x=int(input("enter limit for list1 :"))
for i in range(1,x+1):
  a=input()
  c1.append(a)
  p=set(c1)
print(p)
c2=[]
y=int(input("enter limit for list2 : "))
for i in range(1,y+1):
  b=input()
  c2.append(b)
  q=set(c2)
print(q)
print(p.difference(q))

enter limit for list1 :2
yellow
green
{'green', 'yellow'}
enter limit for list2 : 3
red
blue
black
{'black', 'red', 'blue'}
{'green', 'yellow'}

In [7]:
a=int(input("enter any integer : "))
n1=int("%s" %a)
n2=int("%s%s" %(a,a))
n3=int("%s%s%s" %(a,a,a))
print("value of n+nn+nnn is : ",n1+n2+n3)

enter any integer : 2
value of n+nn+nnn is :  246

In [8]:
c=[]
x=int(input("enter limit for list : "))
for i in range(1,x+1):
  a=input()
  c.append(a)
print(c)
print(c[0],c[-1])

enter limit for list : 2
4
2
['4', '2']
4 2

In [9]:
str=input("enter any string : ")
def rep_ch(str1):
  char=str1[0]
  str1=str1.replace(char, '$')
  str1=char+str1[1:]
  return str1
print(rep_ch(str))

enter any string : lionel messi is a GOAT
lione$ messi is a GOAT

In [12]:
x=[]
a=int(input("enter limit for list1 : "))
for i in range(1,a+1):
  a=int(input())
  x.append(a)
print(x)
y=[]
b=int(input("enter limit for list2 : "))
for i in range(1,b+1):
  b=int(input())
  y.append(b)
print(y)
if (len(x)==len(y)):
  print("list1 and list2 are of same length i.e.",len(x))
else:
  print("list1 and list2 are of different length.")
if (sum(x)==sum(y)):
  print("list1 and list2 sums to the same value i.e.",sum(x))
else:
  print("list1 and list2 sums up to different values.")
def common(x, y): 
    p=set(x) 
    q=set(y) 
    if len(p.intersection(q)) > 0: 
        return(p.intersection(q))   
    else: 
        return("no common elements")  
print("value that occur in both lists is/are :",common(x,y)) 
2

enter limit for list1 : 2
9
6
[9, 6]
enter limit for list2 : 2
8
4
[8, 4]
list1 and list2 are of same length i.e. 2
list1 and list2 sums up to different values.
value that occur in both lists is/are : no common elements

2

In [13]:

l=[]
x=int(input("enter the limit : "))
for i in range (1,x+1):
  x=input("enter the first name : ")
  l.append(x)
  count = x.count('a')
  print("number of time a is present in name:",count)

enter the limit : 3
enter the first name : johns
number of time a is present in name: 0
enter the first name : alamban
number of time a is present in name: 3
enter the first name : kukucha
number of time a is present in name: 1

In [14]:
n=input("enter your house number : ")
hname=input("enter your house name : ")
s=input("enter your street name : ")
t=input("enter your town/city : ")
d=input("enter your district : ")
state=input("enter your state : ")
county=input("enter your county : ")
pin=int(input("enter your postcode: "))
print("\nAddress Details :\n" + "\nHousenumber :",n,"\nHouse :",hname,"\nStreet : ",s,"\nTown/City : ",t,"District : ",d,"\nState : ",state,"\nCounty : ",county,"\nPostcode : ",pin)

enter your house number : 419
enter your house name : mangalathil
enter your street name : palayam
enter your town/city : padinjattinkara
enter your district : kottayam
enter your state : kerala
enter your county : india
enter your postcode: 686571

Address Details :

Housenumber : 419
House : mangalathil
Street :  palayam
Town/City :  padinjattinkara District :  kottayam
State :  kerala
County :  india
Postcode :  686571